@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  width: 100%;
}

div.logo h4 {
  color: #1b2140;
  font-size: 1.5rem;
  font-weight: 400;
}

nav ul {
  display: flex;
  margin-top: 7px;
}

nav ul li {
  margin-left: 20px;
  list-style: none;
}

nav ul li a {
  color: #c2c2c5;
  text-decoration: none;
}

nav ul li {
  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 0.9rem;
  position: relative;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav ul li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}

nav ul li:hover::after {
  width: 100%;
  height: 2px;
  background-color: #f3613c;
}

a#nav-btn {
  background-color: #f3613c;
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  color: #f0f0f3;
  font-size: 0.8rem;
  text-align: center;
}

div.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 100%;
    margin-top: 1rem;
  }

  div.logo {
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    padding-left: 10px;
  }

  div.logo h4 {
    font-size: 1.4rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  nav ul li {
    margin-bottom: 50px;
    list-style: none;
    text-align: center;
  }

  div.hamburger {
    display: block;
    background-color: #a1a3b4;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 9px;
    border-radius: 5px;
  }
}

/* Hero Styling */
div.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

div.flex {
  text-align: center;
  max-width: 595px;
}

div.flex h1 {
  color: #1b2140;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

div.flex p {
  color: #c2c2c5;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
}

div.hero-btn {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  div.hero-section {
    padding: 1rem;
  }

  div.flex {
    max-width: 400px;
  }

  div.flex h1 {
    font-size: 2rem;
    margin-top: 0px;
  }

  div.flex p {
    font-size: 1rem;
    margin-top: 20px;
  }
}

/* Comparison Styling */
div.comparison-content {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

div.comparison-heading {
  max-width: 300px;
}

div.comparison-heading h3 {
  color: #1b2140;
  font-size: 1.5rem;
  font-weight: 700;
}

div.comparison-heading p {
  color: #c2c2c5;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
}

div.comparison-list {
  max-width: 500px;
}

div.lists {
  display: flex;
  justify-content: space-between;
}

div.lists:nth-child(2),
div.lists:nth-child(3) {
  margin-top: 35px;
}

div.digit p {
  color: #f3613c;
  font-size: 1.2rem;
  font-weight: 700;
}

div.digit h6 {
  text-align: center;
  font-size: 0.9rem;
  color: #f0f0f3;
}

div.content {
  margin-left: 20px;
}

div.content h5 {
  color: #1b2140;
  font-size: 1.2rem;
  font-weight: 700;
}

div.content p {
  color: #c2c2c5;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  div.comparison-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 30px;
  }

  div.comparison-heading {
    max-width: 340px;
    text-align: center;
  }

  div.comparison-heading h3 {
    font-size: 1.5rem;
  }

  div.comparison-heading p {
    font-size: 0.9rem;
  }

  div.comparison-list {
    max-width: 500px;
    margin-top: 30px;
  }
}

/* Reviews Styling */
div.review-section {
  padding: 5rem;
}

div.review-section h3 {
  color: #1b2140;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

div.review-comment-section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div.review-comment {
  background-color: #f0f0f3;
  padding: 15px;
  border-radius: 3px;
}

div.image {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.image img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

div.review-comment h6 {
  font-size: 0.9rem;
  color: #1b2140;
  text-align: center;
}

div.review-comment p {
  font-size: 0.8rem;
  color: #909094;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.review-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  div.review-section {
    padding: 1rem;
  }

  div.review-section h3 {
    font-size: 1.7rem;
  }

  div.review-comment-section {
    flex-direction: column;
    gap: 40px;
  }
}

/* Team Styling */
div.team-section {
  background-color: #f3613c;
  padding: 5rem;
  margin-top: 40px;
}

div.team-section-flex {
  display: flex;
  justify-content: space-between;
}

div.team-section-heading {
  max-width: 330px;
}

div.team-section-heading h3 {
  color: #f0f0f3;
  font-size: 1.7rem;
  font-weight: 700;
}

div.team-section-btn {
  margin-top: 20px;
}

div.team-section-btn a {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  color: #f3613c;
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  div.team-section {
    padding: 1rem;
    margin-top: 40px;
  }

  div.team-section-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.team-section-heading h3 {
    text-align: center;
    margin-top: 15px;
  }

  div.team-section-btn {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

/* Footer Styling */
footer {
  padding: 5rem;
  background-color: #1e1e26;
}

div.footer-section {
  display: flex;
  justify-content: space-between;
}

div.footer-logo {
  color: #f0f0f3;
  font-size: 1.5rem;
  font-weight: 400;
}

div.footer-socials {
  display: flex;
  gap: 10px;
  margin-top: 67px;
}

div.footer-socials li {
  list-style: none;
}

div.footer-socials li a {
  color: #f0f0f3;
  font-size: 1rem;
}

div.footer-links li {
  list-style: none;
  margin-top: 10px;
}

div.footer-links li a {
  color: #f0f0f3;
  font-size: 0.9rem;
  text-decoration: none;
}

div.footer-links li:nth-child(2) a {
  margin-top: 30px;
}

div.footer-links_two li {
  list-style: none;
  margin-top: 10px;
}

div.footer-links_two li a {
  color: #f0f0f3;
  font-size: 0.9rem;
  text-decoration: none;
}

div.footer-input input[type="email"] {
  padding: 8px;
  background-color: #f0f0f3;
  border-radius: 50px;
  color: #f3613c;
  border: none;
  outline: none;
  font-size: 0.8rem;
  position: relative;
}

::placeholder {
  color: #909094;
  font-size: 0.8rem;
}

input[type="submit"] {
  padding: 8px;
  background-color: #f3613c;
  color: #f0f0f3;
  text-align: center;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 0.8rem;
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  right: 80px;
}
